[flake8]
ignore =
    # Clashing with black:
    E203,
    W503
exclude =
    .git,
    .github,
    docs,

per-file-ignores =
    # tests and examples may contain lines longer than 79 chars
    tests/*: E501
    examples/*: E501
