repos:
  - repo: https://github.com/ambv/black
    rev: 23.11.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
      - id: unittests
        name: unittests
        language: system
        entry: poetry run pytest ./tests
        pass_filenames: false
      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint ./flowpipe
        pass_filenames: false
      - id: mypy
        name: mypy (flowpipe)
        entry: poetry run mypy flowpipe
        language: system
        pass_filenames: false
        files: ^flowpipe/.*\.py$
