repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.0
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
      - id: unittests
        name: unittests
        language: system
        entry: poetry run pytest ./tests
        files: ^(flowpipe/|tests/|examples/)
        pass_filenames: false
      - id: pylint
        name: pylint
        language: system
        entry: poetry run pylint ./flowpipe
        pass_filenames: false
